/*  */
* {
    /* делаем отступи элемента по всем сторонам 0 */
    margin: 0;
    /* делаем внутриние отступы элемента по всем сторонам 0 */
    padding: 0;
    /* устанавливает модель размеров элемента */
    box-sizing: border-box;
}
/* задаем высоту и ширину */
.content {
    width: 100%;
    height: 100vh;
    /* делаем задний фон */
    background: rgb(34,195,143);
    /* делаем градиент для заднего фона */
    background: linear-gradient(40deg, rgba(34,195,143,1) 4%, rgba(125,34,195,1) 100%);
}
/* скрываем form_auth */
.form_auth {
    display: none;

} 

    